body {
  margin: 0px;
}

p {
  margin : 2px;
}

#root {
  width: 1000px;
  height: 1000px;
  border: 20px ridge gray;
  background-color: black;
  display: grid;
  grid-gap: 5px;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

#map {
  height: 100%;
  width: 100%;
  background-color: blue;
  border-right: 5px ridge gray;
  grid-area: 1 / 1 / span 5 / span 5;
  display: inline-grid;
  grid-template: repeat(32, 1fr) / repeat(32, 1fr);
}

.island {
  background-color: tan;
}

.island::after {
  display: block;
  content: "";
  height: 16px;
  width: 16px;
  background-color: rgba(0, 0, 0, 0);
}

.island:hover::after {
  background-color: rgba(255, 255, 255, 0.5);
}

.exportIsland {
  background-color: turquoise;
}

.exporting {
  background-color: orange;
}

.notExporting {
  background-color: maroon;
  color: white;
}

.importIsland {
  background-color: orange;
}

.playerIsland {
  background-color: maroon;
}

.selectedIsland {
  background-color: green;
}

#playerStatDisplayPanel {
  grid-area: 3 / 6 / span 1 / span 5;
  background-color: maroon;
  color: white;
}

.islandStatDisplayPanel {
  display: grid;
  grid-template-areas:
    'name name copperHeader minesHeader oliveOilHeader grovesHeader'
    'population population playerCopper playerMines playerOliveOil playerGroves'
    'rocky lush islanderCopper islanderMines islanderOliveOil islanderGroves';
}

.name {
  grid-area: name;
}
.population {
  grid-area: population;
}
.rocky {
  grid-area: rocky;  
}
.lush {
  grid-area: lush; 
}
.copperHeader {
  grid-area: copperHeader;
}
.playerCopper {
  grid-area: playerCopper; 
}
.islanderCopper {
  grid-area: islanderCopper;
}
.minesHeader {
  grid-area: minesHeader;
}
.playerMines {
  grid-area: playerMines;
}
.islanderMines {
  grid-area: islanderMines;
}
.oliveOilHeader {
  grid-area: oliveOilHeader;
}
.playerOliveOil {
  grid-area: playerOliveOil;
}
.islanderOliveOil {
  grid-area: islanderOliveOil;
}
.grovesHeader {
  grid-area: grovesHeader;
}
.playerGroves {
  grid-area: playerGroves;
}
.islanderGroves {
  grid-area: islanderGroves;
}

#playerLocation {
  grid-area: 4 / 6 / span 1 / span 5;
  background-color: maroon;
}

#importIsland {
  grid-area: 5 / 6 / span 1 / span 5;
  background-color: orange;
}

#exportIsland {
  grid-area: 6 / 6 / span 1 / span 5;
  background-color: turquoise;
}

#selectedIsland {
  grid-area: 6 / 1 / span 1 / span 5;
  background-color: lightgreen;
}

.traveling {
  background-color: maroon;
  color: white;
}

#facilitiesTransactionPanel {
  grid-area: 1 / 6 / span 1 / span 3;
  background-color: maroon;
  color: gray;
}

#goodsTransactionPanel {
  grid-area: 2 / 6 / span 1 / span 3;
  background-color: gray;
}

.sellingCopper {
  background-color: #e27333;
}

.sellingOliveOil {
  background-color: #ef8;
}

.buyingMines {
  background-color: gray;
  color: white;
}

.buyingGroves {
  background-color: #3a6;
}

#someKindOfLogo {
  grid-area: 1 / 9 / span 1 / span 2;
  background-color: tan;
}

#clockAndPause {
  grid-area: 2 / 9 / span 1 / span 2;
  background-color: gray;
  z-index: 1;

/*  display: grid;
  grid-template: repeat(2, 50%) / repeat(4, 25%);*/
}

#clockAndPause p {
  grid-area: 1 / 1 / span 1 / span 1;
  color: white;
  font-size: 20px;
}

#clockAndPause #hide {
  grid-area: 2 / 1 / span 1 / span 2;
}

#clockAndPause #pause {
  grid-area: 2 / 3 / span 1 / span 2;
}

.paused {
  background-color: gray;
  border: 3px inset white;
}