#map {
  height: 500px;
  width: 500px;
  background-color: blue;

  display: grid;
  grid-template: repeat(32, 1fr) / repeat(32, 1fr);
}

#island {
  background-color: tan;
}

#island:hover {
  background-color: white;
}
