body {
  margin: 0px;
}

p {
  margin : 2px;
}

#root {
  width: 1000px;
  height: 500px;
  border: 20px ridge gray;
  background-color: black;
  display: grid;
  grid-gap: 5px;
  grid-template: repeat(5, 1fr) / repeat(10, 1fr);
}

#playerDisplay {
  grid-area: 1 / 6 / span 3 / span 2;
  background-color: maroon;
  color: white;
}

#map {
  height: 100%;
  width: 100%;
  background-color: blue;
  border-right: 5px ridge gray;
  grid-area: 1 / 1 / span 5 / span 5;
  display: inline-grid;
  grid-template: repeat(32, 1fr) / repeat(32, 1fr);
}

.island {
  background-color: tan;
}

.island::after {
  display: block;
  content: "";
  height: 16px;
  width: 16px;
  background-color: rgba(0, 0, 0, 0);
}

.island:hover::after {
  background-color: rgba(255, 255, 255, 0.5);
}

.exportIsland {
  background-color: turquoise;
}

.exporting {
  background-color: orange;
}

.notExporting {
  background-color: maroon;
  color: white;
}

.importIsland {
  background-color: orange;
}

.playerIsland {
  background-color: maroon;
}

.selectedIsland {
  background-color: green;
}

#selectedIslandDisplay {
  grid-area: 2 / 8 / span 2 / span 3;
  background-color: lightgreen;
}

.traveling {
  background-color: maroon;
  color: white;
}

.islandCopperStats{
  display: inline-block;
}

.islandOliveOilStats {
  display: inline-block;
}

#importIslandDisplay {
  grid-area: 4 / 8 / span 2 / span 3;
  background-color: orange;
}

#sellGoods {
  grid-area: 4 / 6 / span 1 / span 2;
  background-color: gray;
}

#buyFacilities {
  grid-area: 5 / 6 / span 1 / span 2;
  background-color: maroon;
  color: gray;
}

.sellingCopper {
  background-color: #e27333;
}

.sellingOliveOil {
  background-color: #ef8;
}

.buyingMines {
  background-color: gray;
  color: white;
}

.buyingGroves {
  background-color: #3a6;
}

#playerInventory {
  background-color: rgba(0, 0, 0, 0.1);
}

#clockAndPause {
  grid-area: 1 / 8 / span 1 / span 3;
  background-color: black;
  height: 100%;
  width: 100%;
  z-index: 1;

  display: grid;
  grid-template: repeat(2, 50%) / repeat(4, 25%);
}

#clockAndPause p {
  grid-area: 1 / 1 / span 1 / span 2;
  color: white;
  font-size: 20px;
}

#clockAndPause #hide {
  grid-area: 2 / 1 / span 1 / span 2;
}

#clockAndPause #pause {
  grid-area: 2 / 3 / span 1 / span 2;
}

.paused {
  background-color: gray;
  border: 3px inset white;
}